<div class="recipe-list-container">
  <a routerLink="/add-recipe" class="btn-add-recipe">+ Add New Recipe</a>
  <!-- Search Filter -->
  <div class="search-section">
    <h2 class="search-title">Search Recipes</h2>
    <input
      type="search"
      placeholder="Search recipes..."
      class="search-input"
      [(ngModel)]="searchTerm"
    />
  </div>

  <!-- Recipes Grid -->
  <div class="recipes-grid">
    @for (recipe of recipes(); track recipe.name) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            {{ recipe.name }}
            @if (recipe.isFavorite) {
              <mat-icon color="warn">star</mat-icon>
            }
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="recipe.imgUrl" [alt]="recipe.name" />
        <mat-card-content>
          <p>{{ recipe.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button [routerLink]="['/recipes', recipe.id]">View Details</a>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</div>
